@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100%;
}

#navbar {
  width: 100%;
  height: 60px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
  gap: 30px;
}

#navbar i {
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 50%;
  font-weight: 400;
  transition: transform 0.5s ease-out;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 20px;
}

#button{
  display: flex;
}
#button:hover{
  transform: scale(1.1);
}
#navbar a {
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  text-decoration: none;
}
#navbar a:hover{
  transform: scale(1.11);
}
#hero-1 {
  width: 100%;
  height: fit-content;
  /* background-color: blue; */
  padding: 10px 120px;
}

#hero-1 h1 {
  font-size: 80px;
  font-weight: 400;
  line-height: 85px;
}
#hero-2 {
  width: 100%;
  height: fit-content;
  /* background-color: rgb(255, 34, 0); */
  padding: 35px;
  padding-left: 120px;
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  margin-top: 10px;
}
#hero-2 h1 {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
}
.right {
  margin-top: 120px;
  width: 300px;
  height: 150px;
  /* background-color: indigo; */
}

.right i {
  font-size: 25px;
  opacity: 0;
}

.right a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

#div1 {
  width: 100%;
  height: 50px;
  color: rgb(0, 0, 0);
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
#div2 {
  width: 100%;
  height: 50px;
  color: rgb(0, 0, 0);
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
#div3 {
  width: 100%;
  height: 50px;
  color: rgb(0, 0, 0);
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  padding: 0 15px;
  justify-content: space-between;
}

#div1 i {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
#div2 i {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

#div3 i {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

#div1:hover i {
  opacity: 1;
}

#div2:hover i {
  opacity: 1;
}

#div3:hover i {
  opacity: 1;
}
#div1:hover a {
  text-decoration: underline;
  color: black;
}

#div2:hover a {
  text-decoration: underline;
  color: black;
}

#div3:hover a {
  text-decoration: underline;
  color: black;
}
#footer {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  margin-bottom: 20PX;
}

#footer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Add these media queries at the bottom of your existing CSS */

@media (max-width: 1200px) {
  #hero-1 {
    padding: 10px 60px;
  }
  #hero-1 h1 {
    font-size: 60px;
    line-height: 65px;
  }
  #hero-2 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 992px) {
  #hero-1 {
    padding: 10px 40px;
  }
  #hero-1 h1 {
    font-size: 50px;
    line-height: 55px;
  }
  #hero-2 {
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: column;
    gap: 30px;
  }
  .right {
    margin-top: 0;
    width: 100%;
  }
}

@media (max-width: 768px) {
  #navbar {
    padding-right: 20px;
    gap: 20px;
  }
  #navbar a {
    font-size: 18px;
  }
  #hero-1 {
    padding: 10px 30px;
  }
  #hero-1 h1 {
    font-size: 40px;
    line-height: 45px;
  }
  #hero-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
  #hero-2 h1 {
    font-size: 20px;
    line-height: 28px;
  }
}

@media (max-width: 576px) {
  #navbar {
    justify-content: center;
    padding-right: 0;
  }
  #hero-1 {
    padding: 10px 20px;
  }
  #hero-1 h1 {
    font-size: 32px;
    line-height: 38px;
  }
  #hero-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
  #hero-2 h1 {
    font-size: 18px;
    line-height: 24px;
  }
  .right a {
    font-size: 16px;
  }
  #footer img {
    height: 100%;
  }
}

/* Scrollbar Styling */
/* New Scrollbar Styling */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, grey, darkgrey);
  border-radius: 6px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #000000, #333333);
}


.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.in-view {
  opacity: 1;
  transform: translateY(0);
}
