* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  padding-top: 1vw;
}
#navbar {
  width: 100%;
  height: 80px;
  /* background-color: red; */
  margin-top: 20px;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search {
  font-size: 1.5vw;
}
#navbar img {
  width: 7vw;
  height: 100%;
}

#navbar h2 {
  font-size: 20px;
  font-weight: 500;
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid black;
}

#navbar h1 {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monument;
  font-size: 40px;
  font-family: "Anton", sans-serif;
}
#navbar h2:nth-last-child(1) {
  width: 10%;
  /* background-color: red; */
}
#navbar h2:nth-last-child(2) {
  width: 29%;
  /* background-color: red; */
}

#center {
  width: 100%;
  height: 90%;
  /* background-color: red; */
  padding: 4vw;
}

#center-content {
  width: 100%;
  height: 100%;
  /* background-color: rgb(89, 0, 255); */
  position: relative;
  /* border: 1px solid black; */
}

#contentVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#overlay {
  width: 100%;
  height: 50%;
  bottom: 0;
  /* background-color: red; */
  position: absolute;
  padding-top: 3vw;
  padding-left: 3vw;
  padding-right: 3vw;
}
#overlay h1 {
  font-family: monument;
  font-size: 3vw;
  color: #f8f8f8;
  letter-spacing: 2px;
  font-weight: 700;
}
#over1 {
  /* background-color: red; */
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid white;
  justify-content: space-between;
}
#over2 {
  /* background-color: rgb(106, 0, 255); */
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 400;
}
#over2 h2 {
  font-size: 1.5vw;
  font-weight: 400;
  color: white;
}
#circle {
  /* background-color:blue; */
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-top: 2px solid white;
  color: white;
  font-weight: 400;
}
#explore {
  font-size: 3vw;
  font-weight: 400;
}
#right-arrow {
  height: 3.2vw;
  margin-right: 1vw;
}

#scroller {
  width: 100%;
  height: 40vh;
  /* background-color: red; */
  padding: 1vw 0vw;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}
#container {
  width: 100%;
  height: 100%;
  /* background-color: blue; */
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  padding-top: 0vw;
  padding-left: 0vw;
  animation-name: anime;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#container img {
  width: 16%;
  height: 80%;
  border-radius: 50%;
  object-fit: cover;
  margin: 1.9vw;
  border: 1px solid black;
}

@keyframes anime {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
#alphabet {
  width: 100%;
  height: 10vh;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
#page2 {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 4vw;
}
#alphabet h5 {
  text-transform: uppercase;
  border-bottom: 2px solid black;
  font-size: 1.5vw;
  font-weight: 400;
  font-style: italic;
}
#alphabet h6 {
  text-transform: uppercase;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5vw 0.8vw;
  border-radius: 50%;
  font-size: 1vw;
  font-weight: 400;
  font-style: italic;
  border: 1px solid rgba(0, 0, 0, 0);
}
#alphabet h6:hover {
  border: 1px solid rgb(0, 0, 0);
}

#p1 {
  width: 55%;
  height: 100%;

  display: flex;
  flex-direction: column;
  padding-top: 1vw;
  padding-left: 4vw;
}
#p2 {
  width: 45%;
  height: 100%;

  padding-top: 1vw;
  padding-right: 4vw;
}
#p1 img {
  width: 92%;
  height: 95%;
  object-fit: cover;
  margin-left: 3vw;
}
#p2 img {
  width: 92%;
  height: 80%;
  object-fit: cover;
  margin-right: 5vw;
}
#p1 h1 {
  font-family: monument;
  letter-spacing: 1px;
  margin-left: 3.9vw;
  margin-top: 0.55vw;
}
#heading {
  width: 92%;
  height: 20%;
  display: flex;
  justify-content: space-between;
}
#heading h5 {
  font-weight: 700;
  font-size: 1.2vw;
  letter-spacing: -1px;
}
#heading p {
  font-weight: 500;
  font-size: 0.8vw;
}
#page3 {
  width: 100%;
  height: 100%;
  display: flex;
}

#page3-p1 {
  width: 40%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding-left: 4.6vw;
  padding-right: 7vw;
  padding-top: 12vw;
}
#page3-p1 h3 {
  font-size: 1.2vw;
  font-weight: 700;
  margin-top: 10vw;
}
#page3-p1 img {
  width: 85%;
  height: 60%;
  margin-right: 1vw;
}
#page3-p2 {
  width: 60%;
  height: 100%;
  /* background-color: rgb(0, 0, 255); */
  padding-top: 4vw;
  padding-right: 4vw;
}
#c-arrow {
  width: 40%;
  height: 30%;
  /* background-color: yellow; */
  position: relative;
  top: -70%;
}
#c-arrow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#page3-p2 img {
  width: 95%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
#page4 {
  width: 100%;
  height: 100%;
  padding: 6vw 4vw;
  position: relative;
}
#page4 > h1 {
  text-align: center;
  font-size: 3vw;
  font-family: monument;
  font-weight: 700;
  margin-bottom: 5vh;
}
.elem {
  width: 100%;
  height: 16vh;
  /* background-color: red; */
  border-top: 2px solid black;
  display: flex;
  padding-right: 6vw;
  justify-content: space-between;
  align-items: center;
}
.elem:nth-last-child(1) {
  border-bottom: 2px solid black;
}
.elem h4 {
  font-weight: 600;
  font-size: 1vw;
  padding-left: 2.5vw;
}
.elem-part2 {
  width: 45%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}
.elem-part2 h5 {
  font-size: 3vw;
  font-weight: 500;
}
.elem-part2 p {
  text-transform: uppercase;
  font-size: 1vw;
  font-weight: 500;
}
.elem img {
  width: 100px;
  height: 100px;
  position: absolute;
  transition: all ease-out 0.8s;
  border-radius: 50%;
  object-fit: cover;
  left: 12%;
  opacity: 0;
}
.elem:hover img {
  left: 20%;
  opacity: 1;
}
.elem:hover {
  background-color: #fcf9f9;
}
#page5 {
  width: 100%;
  height: 100%;
  display: flex;
  padding-bottom: 2vw;
}
#part5-p1 {
  height: 100%;
  width: 50%;
  /* background-color: yellow; */
  padding-left: 4vw;
  padding-top: 2vw;
  padding-right: 2vw;
}
#part5-p1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#part5-p2 {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 2vw;
  padding-right: 3vw;
  gap: 3vw;
  /* background-color: rgb(255, 0, 0); */
}
#part5-p2 h1 {
  font-family: monument;
  font-weight: 700;
  font-size: 3vw;
}
#part5-p2 h2 {
  /* font-family: monument; */
  font-weight: 600;
  font-size: 1.5vw;
}
#part5-p2 p {
  font-size: 1vw;
  font-weight: 500;
}
#image-portion {
  width: 100%;
  height: 52.3vh;
  /* background-color: yellow; */
  display: flex;
  gap: 1vw;
}

#harsh > img {
  width: 95%;
  height: 60%;
  object-fit: cover;
}
.image1 {
  width: 55%;
  height: 100%;
  object-position: top;
  object-fit: cover;
}
.image2 {
  width: 41%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
#page6 {
  width: 100%;
  height: 80%;
  padding: 4vw 4vw 2vw 4vw;
}
#page6 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
#page7 {
  height: 100%;
  width: 100%;
  padding: 2vw 4vw;
  display: flex;
  gap: 6vw;
}
#page7-p1 {
  /* background-color: red; */
  width: 54%;
  height: 100%;
}
#page7-p2 {
  /* background-color: rgb(166, 255, 0); */
  width: 41%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#page7-p2 img {
  width: 100%;
  height: 78%;
  object-fit: cover;
  object-position: top;
}
#page7-p1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
#div-bottom {
  /* background-color: red; */
  width: 100%;
  height: 30%;
  padding-top: 1.2vw;
  display: flex;
  justify-content: space-between;
}
#div-bottom h1 {
  font-size: 1.3vw;
  font-weight: 600;
}
#div-bottom p {
  font-size: 1vw;
  font-weight: 500;
}
#marque {
  margin-top: 3vw;
  width: 100%;
  height: 12vh;
  display: flex;
  white-space: nowrap;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  align-items: center;
  gap: 1vw;
  overflow-y: hidden;
  overflow-x: hidden;
}
#marque h1 {
  display: inline-block;
  font-size: 4vw;
  font-weight: 900;
  -webkit-text-stroke: 2px black;
  color: transparent;
  font-family: monument;
  letter-spacing: 0.3vw;
  animation-name: move;
  animation-duration: 11s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1vw));
  }
}
/* #footer{
  width: 100%;
  height: 100%;

} */
#page8 {
  width: 100%;
  height: 80%;
  display: flex;
  padding: 6vw 4vw;
}
#div1 {
  width: 20%;
  height: 100%;
  /* background-color: #ff0000; */
  display: flex;
  padding: 2vw;
}
#div1 h1 {
  font-size: 2.8vw;
  font-weight: 700;
  font-family: monument;
}
#div2 {
  width: 35%;
  height: 100%;
  /* background-color: rgb(17, 0, 255); */
  display: flex;
  flex-direction: column;
  padding: 2vw;
}
#div2 h3 {
  font-size: 1.2vw;
  font-weight: 600;
  line-height: 3.5vh;
  margin-bottom: 3vw;
}
#div2 img {
  width: 85%;
  height: 35vh;
  object-fit: cover;
}
#div3 {
  width: 45%;
  height: 100%;
  /* background-color: rgb(0, 255, 81); */
  display: flex;
  flex-direction: column;
  padding: 2vw;
}
#div3 h3 {
  font-size: 1.2vw;
  font-weight: 600;
  line-height: 3.5vh;
  margin-bottom: 3vw;
}
#div3 i {
  font-size: 1.2vw;
}
#div2 i {
  font-size: 1.2vw;
}
#div3 img {
  width: 80%;
  height: 35vh;
  object-fit: cover;
}

#footer {
  width: 100%;
  height: 30%;
}
#footer-container {
  width: 100%;
  height: 25vh;
  display: flex;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
#f1 {
  width: 20%;
  /* background-color: red; */
  height: 100%;
  display: flex;
  padding-left: 4vw;
  padding-top: 1vw;
}
#f2 {
  width: 20%;
  /* background-color: rgb(21, 0, 255); */
  height: 100%;
  padding-top: 1.2vw;
  padding-left: 13vw;
  border-right: 2px solid black;
}
#f3 {
  width: 20%;
  /* background-color: rgb(238, 255, 0); */
  height: 100%;
  border-right: 2px solid black;
  display: flex;
  justify-content: center;
  padding-top: 1.2vw;
}
#f3 h1 {
  font-size: 1.2vw;
  font-weight: 600;
}
#f4 {
  height: 100%;
  width: 40%;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
}
#f4-1 {
  padding: 1.2vw;
  padding-left: 5vw;
  width: 100%;
  height: 4.5vw;
  /* background-color: aquamarine; */
  display: flex;
  border-bottom: 2px solid black;
}
#f4-1 h1 {
  font-size: 1.2vw;
  font-weight: 600;
}
#f4-2 {
  width: 100%;
  height: calc(100% - 4.5vw);
  /* background-color: brown; */
  padding-top: 1.2vw;
}
#f1 h1 {
  font-size: 2.5vw;
  font-weight: 800;
  font-family: monument;
}
#f2 h1 {
  font-size: 1.2vw;
  font-weight: 600;
}
#f4-2-1 {
  width: 100%;
  height: 30%;
  /* background-color: chartreuse; */
  display: flex;
  gap: 2vw;
  padding-top: 0vw;
  padding-left: 5vw;
}
#f4-2-1 i {
  font-size: 1.2vw;
}
#f4-2-2 {
  width: 100%;
  height: 70%;
  /* background-color: violet; */
  padding-left: 5vw;
  padding-top: 0.2vw;
}
#f4-2-2 h2 {
  font-size: 1.1vw;
  font-weight: 500;
}

/* CSS responsive starts here */

@media (max-width:600px)  {
  #navbar {
  width: 100%;
  height: 7vh;
  /* background-color: red; */
  margin-top: 20px;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search {
  font-size: 2vw;
}
#navbar img {
  width: 3vw;
  height: 90%;
}

#navbar h2 {
  font-size: 10px;
  font-weight: 500;
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid black;
}

#navbar h1 {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monument;
  font-size: 30px;
  font-family: "Anton", sans-serif;
}
#navbar h2:nth-last-child(1) {
  width: 10%;
  /* background-color: red; */
}
#navbar h2:nth-last-child(2) {
  width: 29%;
  /* background-color: red; */
}

#center {
  width: 100%;
  height: 60%;
  /* background-color: red; */
  padding: 4vw;
}

#scroller {
  width: 100%;
  height: 20vh;
  /* background-color: red; */
  padding: 1vw 0vw;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

#alphabet {
  width: 100%;
  height: 8vh;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap:0.5vw;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

#alphabet h5 {
  text-transform: uppercase;
  border-bottom: 2px solid black;
  font-size: 1.5vw;
  font-weight: 400;
  font-style: italic;
}
#alphabet h6 {
  text-transform: uppercase;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5vw 0.8vw;
  border-radius: 50%;
  font-size: 1.5vw;
  font-weight: 400;
  font-style: italic;
  border: 1px solid rgba(0, 0, 0, 0);
}
#alphabet h6:hover {
  border: 1px solid rgb(0, 0, 0);
}
#page3-p1 {
  width: 40%;
  height: 90%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding-left: 4.6vw;
  padding-right: 7vw;
  padding-top: 12vw;
}
#heading h5 {
  font-weight: 700;
  font-size: 1.5vw;
  letter-spacing: -1px;
}
#heading p {
  font-weight: 400;
  font-size: 1.5vw;
  letter-spacing: -1px;
}
#p1 img {
    width: 89%;
    height: 79%;
    object-fit: cover;
    margin-left: 1vw;
}
#p1 h1 {
  font-family: monument;
  letter-spacing: 1px;
  margin-left: 0vw;
  margin-top: 0.55vw;
}
}